{% extends "base.html" %}

{% block content %}

<meta http-equiv="refresh" content="5">


<div class="locker-page">

    <div class="locker-card">

    <div class="locker-inner">

        <div class="locker-header">
            <h2>{{ name }}</h2>

            <div class="status-badge {{ 'ok' if data.status == 'OK' else 'fout' }}">
                Status: {{ data.status }}
            </div>
        </div>

        <div class="image-wrapper">
            <img 
                class="detail-img"
                src="{{ url_for('static', filename='output/' + data.image) }}">
        </div>

        <a href="{{ url_for('main.check') }}" class="btn btn-full">
            Terug
        </a>

    </div>

</div>



{% endblock %}